@import url(https://fonts.googleapis.com/css);
body{
    font-family :'Roboto' , sans-serif;
}
*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    
}
.sidebar{
    position: fixed;
    left: -250px;
    width: 250px;
    height: 100%;
    background: url(HackerNews1.jpg) no-repeat;
    background-size: 100% 100%;
}

.sidebar header{
    font-size: 22px;
    color: white;
    text-align : center;
    line-height: 70px;
    background: url(HackerNews1.jpg) no-repeat;
    background-size: 100% 10%;
    user-select: none;
}

.sidebar ul a{
    display: block;
    height: 100%;
    width: 100%;
    line-height: 3;
    font-size: 20px;
    color: white;
    padding-left: 40px;
    box-sizing: border-box;
    border-top: 1px solid rgba(255,255,255,.1);
    border-bottom: 1px solid black;
    transition: all .5s ease;
}

ul li:hover a{
    padding-left: 50px;
}
.sidebar ul a i{
    margin-right: 16px;
}
#check{
    display: none;
}
label #btn , label #cancel{
    position: absolute;
    cursor: pointer;
    background: #042331;
    border-radius: 3px;
}
label #btn{
    left: 40px;
    top: 25px;
    font-size: 35px;
    color: white;
    padding: 6px 12px;
    transition: all .5s;
}

label #cancel{
    z-index: 1111;
    left: -195px;
    top: 17px;
    font-size: 30px;
    color: #0a5275;
    padding: 4px 9px;
    transition: all .5s;
}

#check:checked ~ .sidebar{
    left:0;
}
#check:checked ~ label #btn{
    left:250px;
    opacity: 0;
    pointer-events: none;
}
#check:checked ~ label #cancel{
    left:195px;
   
}
#check:checked ~ section{
    margin-left: 250px;
}
section{
    background:url(HackerNews4.jpg) no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
    transition: all .5s;
}
.serachbox{

font-family: sans-serif;
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50% , -50%);

}
input{
    border: 3px solid #32e17c;
    height: 40px;
    width: 300px;
    border-radius: 50px;
    padding: 0px 10px;
}
.website_name{
    height: 10%;
    width: 35%;
    margin-left:64%;
    
}


