@import url(https://fonts.googleapis.com/css);
body{
    font-family :'Roboto' , sans-serif;
}
*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    
}
.sidebar{
    position: fixed;
    left: -250px;
    width: 250px;
    height: 100%;
    background: url(HackerNews1.jpg) no-repeat;
    background-size: 100% 100%;
}

.sidebar header{
    font-size: 22px;
    color: white;
    text-align : center;
    line-height: 70px;
    background: url(HackerNews1.jpg) no-repeat;
    background-size: 100% 10%;
    user-select: none;
}

.sidebar ul a{
    display: block;
    height: 100%;
    width: 100%;
    line-height: 3;
    font-size: 20px;
    color: white;
    padding-left: 40px;
    box-sizing: border-box;
    border-top: 1px solid rgba(255,255,255,.1);
    border-bottom: 1px solid black;
    transition: all .5s ease;
}
.sidebar ul a b{
    color:green;
    font-weight:700;
    padding-left:45px;
    }
ul li:hover a{
    padding-left: 50px;
}
.sidebar ul a i{
    margin-right: 16px;
}
#check{
    display: none;
}
label #btn , label #cancel{
    position: relative;
    cursor: pointer;
    background: #042331;
    border-radius: 3px;
}
label #btn{
    left: 40px;
    top: 25px;
    font-size: 35px;
    color: white;
    padding: 6px 12px;
    transition: all .5s;
}

label #cancel{
    z-index: 1111;
    left: -195px;
    top: 25px;
    font-size: 30px;
    color: #0a5275;
    padding: 4px 9px;
    transition: all .5s;
}

#check:checked ~ .sidebar{
    left:0;
}
#check:checked ~ label #btn{
    left:250px;
    opacity: 0;
    pointer-events: none;
}
#check:checked ~ label #cancel{
    left:195px;
   
}
#check:checked ~ section{
    margin-left:250px;
}
body{
    background:url(HackerNews4.jpg);
    background-position: center;
    background-size: cover;
    height: 100vh;
    transition: all .5s;
}

#input{
    border: 3px solid #05193d;
    height: 40px;
    width: 300px;
    
    padding: 0px 10px;
}
.website_name{
    height: 10%;
    width: 35%;
    margin-left:64%;
    
}
.searchbox{
    margin-top:-50px;
}
form.search input[type=search]{
    padding: 10px;
    font-size: 17px;
    border: 1px solid gray;
    float:left;
    width:400px;
    background:#f1f1f1;
    margin-left:270px;
    margin-top: -39px;
    
}
form.search button{
    margin-top: -39px;
    margin-left: 10px;
    float: left;
    width: 50px;
    height: 41px;
    padding :10px;
    background: #05193d;
    color: white;
    font-size:17px;
    border: 1px solid grey;
    cursor:pointer;
    border-left: none;

}

.card-img-top {
    height: 170px;
    background-size: cover;
   
}

.card-deck{
    margin-top: 7%;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 5%;
    display: flex;
    flex-wrap: wrap;

}

.card:hover{
background-color: #05296d;
color: white;
cursor: pointer;
transform: scale(1.1);
transition: all 0.1s ease;
}

.carouselExampleIndicators {
    margin-top: 1000px;
}

.card-title {
    text-align: center;
}

.carousel {
    margin-left: 230px;
}

.card{
    
    display: flex;

}



/* #32e17c */



